@mixin bannerTitle {
  font-size: clamp(calc(24rem / 16), 7vw, calc(48rem / 16));
  line-height: clamp(calc(28rem / 16), 7vw, calc(50rem / 16));
}
@mixin titleH1 {
  font-size: clamp(calc(20rem / 16), 7vw, calc(40rem / 16));
  line-height: clamp(calc(24rem / 16), 7vw, calc(48rem / 16));
  font-weight: 700;
}
@mixin titleH2 {
  font-size: clamp(calc(18rem / 16), 7vw, calc(24rem / 16));
  line-height: clamp(calc(20rem / 16), 7vw, calc(29rem / 16));
  font-weight: 700;
}
