@use '../_styles/colors' as col;
@use '../_styles/typography' as ty;

$breakpoint: 1000rem / 16;
.imgTxt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  row-gap: 2rem;
  @media (max-width: $breakpoint) {
    grid-template-columns: 1fr;
  }

  > img {
    width: 100%;
    height: auto;
  }
  p {
    margin-block: 1rem;
  }
  margin-block: 4rem;
}
.txt {
  @media (min-width: $breakpoint) {
    padding-inline: 1rem;
  }
}
.title {
  @include ty.titleH1;
  color: col.$primary;
}
.readMore {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
  color: col.$highlight;
}
.ndisLogo {
  position: absolute;
  inset-block-end: 1rem;
  inset-inline-end: 2rem;
  @media (max-width: calc(1400rem /16)) {
    position: relative;
    inset-inline-end: 0;
    float: right;
  }
}
