@use './colors' as col;
@use './typography' as ty;

.container {
  margin-block: 4rem;
  h1 {
    color: col.$primary;
    @include ty.title;
    margin-block-end: 2rem;
  }
}
.cardContainer {
  $globalPaddingInlineValue: 2rem;
  $minValue: (400rem / 16);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minValue, 1fr));
  @media (max-width: #{$minValue + $globalPaddingInlineValue}) {
    grid-template-columns: 1fr;
  }
  gap: 1rem;
}
