@use './typography' as ty;

$breakpoint: (1000rem / 16);

.referalForm {
  max-width: calc(800rem / 16);
  place-self: center;
  display: grid;
  .participantDetails,
  .referrerDetails {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-block: 2rem;
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(2, 1fr);
    }
    input {
      margin-block: 0;
    }
    h3 {
      grid-column: 1/-1;
      @include ty.titleH1;
    }
    textarea {
      grid-column: 1/-1;
    }
    label:has(~ input:is([type='checkbox'], [type='radio'])),
    input:is([type='checkbox'], [type='radio']) + label {
      display: inline-block;
    }
  }
  input[type='checkbox'] + label {
    display: block;
  }
}
