@use '/app/_styles/colors' as col;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlightColor: #{col.$highlight};
  --darkColor: #{col.$dark};
  accent-color: #{col.$highlight};
  caret-color: #{col.$highlight};
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

$content-width: 1400px - 80px;
$padding-inline: 2rem;
.mainGrid {
  display: grid;
  grid-template-columns:
    [fullWidth-start] 1fr [content-start] min(
      100% - $padding-inline,
      $content-width
    )
    [content-end] 1fr [fullWidth-end];
  grid-template-rows: min-content;
}
.fullWidth {
  grid-column: fullWidth;
}
.content {
  grid-column: content;
}
.btnPrimary {
  color: col.$light;
  background-color: col.$highlight;
  padding-inline: 2rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  &:hover {
    background-color: col.$light;
    color: col.$highlight;
    border-color: col.$highlight;
  }
}
.btnPrimaryInverted {
  background-color: col.$light;
  color: col.$highlight;
  padding-inline: 2rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid col.$highlight;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  &:hover {
    background-color: col.$highlight;
    color: col.$light;
    border-color: transparent;
  }
}
.contactGrid {
  display: grid;
  grid-template-columns:
    [fullWidth-start] 1fr [content-start]
    min((100% - $padding-inline) /2, ($content-width)/2)
    [contentMidLine]
    min((100% - $padding-inline) /2, ($content-width)/2)
    [content-end] 1fr [fullWidth-end];
  grid-template-rows: min-content;
}

.contentEnd-FullWidth {
  grid-column-start: content-end;
  grid-column-end: fullWidth-end;
}
