@use '/app/_styles/colors' as col;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlightColor: #{col.$highlight};
  --darkColor: #{col.$dark};
  accent-color: #{col.$highlight};
  caret-color: #{col.$highlight};
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

$content-width: 1400px - 80px;
$padding-inline: 2rem;
.mainGrid {
  display: grid;
  grid-template-columns:
    [fullWidth-start] 1fr [content-start] min(
      100% - $padding-inline,
      $content-width
    )
    [content-end] 1fr [fullWidth-end];
  grid-template-rows: min-content;
}
.fullWidth {
  grid-column: fullWidth;
}
.content {
  grid-column: content;
}
.btnPrimary {
  color: col.$light;
  background-color: col.$highlight;
  padding-inline: 2rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  &:hover {
    background-color: col.$light;
    color: col.$highlight;
    border-color: col.$highlight;
  }
}
.btnPrimaryInverted {
  background-color: col.$light;
  color: col.$highlight;
  padding-inline: 2rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid col.$highlight;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  &:hover {
    background-color: col.$highlight;
    color: col.$light;
    border-color: transparent;
  }
}
.contactGrid {
  display: grid;
  grid-template-columns:
    [fullWidth-start] 1fr [content-start]
    min((100% - $padding-inline) /2, ($content-width)/2)
    [contentMidLine]
    min((100% - $padding-inline) /2, ($content-width)/2)
    [content-end] 1fr [fullWidth-end];
  grid-template-rows: min-content;
}

.contentEnd-FullWidth {
  grid-column-start: content-end;
  grid-column-end: fullWidth-end;
}
form {
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    border-radius: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: transparent;
    border: 2px solid col.$lightDark;
    margin-block: 1rem;
    &::placeholder {
      color: col.$lightDark;
    }
  }
}
header {
  position: sticky;
  top: 0;
  background-color: col.$light;
  z-index: 5;
  box-shadow: 0;
  transition: box-shadow 300ms ease-in;
}
header.header-shadow {
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

nav {
  a {
    text-decoration-color: transparent;
    transition: text-decoration-color 300ms ease-in;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.25rem;
      text-decoration-color: auto;
    }
  }
}

[class*='socialArray'] {
  li {
    img {
      transition: scale 200ms ease-in;
    }
    &:hover {
      img {
        scale: 1.15;
      }
    }
  }
}

#skipToMainContent {
  position: absolute;
  padding: 1rem;
  border: 2px solid col.$dark;
  border-radius: 1rem;
  left: 30%;
  top: 0.5rem;
  visibility: hidden;
  &:focus {
    visibility: visible;
  }
}

form p.formMsg {
  // max-width: 60%;
  &.success {
    color: col.$highlight;
  }
  &.error {
    color: col.$error;
  }
}

.body {
  grid-template-rows: auto 1fr auto;
}

.privacyPolicy:any-link {
  color: col.$error;
}
